@using Microsoft.JSInterop
@using Jpp.Common.Razor;
@inherits FileUploadBase;

<h4>Upload File</h4>

<input type="file" @onchange="FileChanged" id="@Id" disabled="@Uploading" />
<br />
<div hidden="@UploadButtonHidden" style="padding-top: 18px;">
    <button @onclick="UploadFile">Upload</button>
</div>
<div hidden="@NotUploading" style="padding-top: 18px;">
    <progress max="100" value="@ProgressPercentage"></progress>
    <button @onclick="Cancel">Cancel</button>
    @if (!Paused)
    {
        <button @onclick="Pause">Pause</button>
    }
    else
    {
        <button @onclick="Resume">Resume</button>
    }
</div>
@if (UploadComplete)
{
    <div style="padding-top: 18px;">
        <p>File successfully uploaded.</p>
    </div>    
}
